/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body {
    margin: 0;
    padding: 0;
    background: #cfcccc;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    word-wrap: break-word !important;
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    height: 110px;
    background-color: #a20327;
}

.logo {
    position: absolute;
    float: left;
    line-height: 55px;
    padding-top: 4px;
}

.logo img {
    height: 80px;
    width: auto;
    padding-top: 13px;
    padding-left: 70px;
}

nav {
    background-color: #a20327;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 90px;
    margin: 50px 0;
    background: none;
    padding-top: 30px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: #a20327;
    float: left;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 15px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: #000000;
}


/* Hide Dropdowns */

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}


/* Display Dropdown on Hover */

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 190px;
    height: 58px;
    float: none;
    display: list-item;
    position: relative;
}

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}